<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	type="text/javascript"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	type="text/javascript"></script>

<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Your rights</h3> 
      </div>
      </div>
<p>Your rights as an employee to work in a safe and healthy environment are given to you by law and generally can't be changed or removed by your employer. The most important of these rights are:</p>
<ul><li> to have any risks to your health and safety properly controlled</li>
<li>to be provided with any personal protective and safety equipment free of charge</li>
<li> to stop work and leave your work area, without being disciplined if you have reasonable concerns about your safety</li>
<li>to tell your employer about any health and safety concerns you have</li>
<li>to have rest breaks during the working day</li>
<li>to have time off from work during the working week</li>
<li>to have annual paid holiday</li></ul>
<p></p>
<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Your responsibilities</h3> 
      </div></div>

<p>Your most important responsibilities as an employee are:</p>
<ul><li>to take reasonable care of your own health and safety</li>
<li>if possible to avoid wearing jewellery or loose clothing if operating machinery</li>
<li>to take reasonable care not to put other people - fellow employees and members of the public - at risk by what you do or don't do in the course of your work</li>
<li>to co-operate with your employer, making sure you get proper training and you understand and follow the company's health and safety policies</li>
<li>not to interfere with or misuse anything that's been provided for your health, safety or welfare</li>
<li>to report any injuries, strains or illnesses you suffer as a result of doing your job, your employer may need to change the way you work</li>
<li>if you drive or operate machinery, you have a responsibility to tell your employer if you take medication that makes you drowsy. If you have, they should temporarily move you to another job if they have one for you to do</li></ul>

