<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	type="text/javascript"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	type="text/javascript"></script>

<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Employer's responsibilities</h3> 
      </div>
      </div>

<ul><li>Under the law employers are responsible for health and safety management.</li>
<li>It is an employer's duty to protect the health, safety and welfare of their employees and other people who might be affected by their business.</li>
<li>Employers must do whatever is reasonably practicable to achieve this.</li>
<li>This means making sure that workers and others are protected from anything that may cause harm, effectively controlling any risks to injury or health that could arise in the workplace.</li>
<li>Employers have duties under health and safety law to assess risks in the workplace.</li>
<li>Risk assessments should be carried out that address all risks that might cause harm in your workplace.</li>
<li>Employers must give you information about the risks in your workplace and how you are protected, also instruct and train you on how to deal with the risks.</li> 
<li>Employers must consult employees on health and safety issues.</li></ul>
