<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Attendance Records</h3> 
      </div>
</div>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">

<h3>Full hours: {{fullHours}}</h3>
<h3>OT hours: {{otHours}}</h3>
<h3>list of Friends</h3>
	<ul>
		<li ng-repeat="fullname in name_list">{{fullname.name}}</li>
	</ul>
	</br>
	<form ng-submit="addtolist()">
		<input type="text" placeholder="First name" ng-model="newFirstName"></input>
		<input type="text" placeholder="Last name" ng-model="newLastName"></input>
		<button type="submit">Add to list</button>
	</form>

</div>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers/meetups-controller.js"></script>