<head>
<style type="text/css">
.auto-style1 {
	margin-left: 44px;
}
</style>
</head>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	type="text/javascript"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	type="text/javascript"></script>



<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Feedback form</h3>
        <p>Provide your ideas to improve the efficiency and the effectiveness of the employees as well as the organization </p>
       </div>
</div>

						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Comments and Suggestions" class="auto-style1" style="width: 670px; height: 191px;"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<input class="btn btn-primary" type="submit" value="Send" />
								</ul>
							</div>
							
						</div>
					

