
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
    .nav-tabs li{
      font-size: 30px;
      width: 16%;
    } 
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Minions ERP System</a>
      </div>
      <div>       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/views/index.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
  <h3>Tabs</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Profile</a></li>
    <li><a href="#">Sales</a></li>
    <li><a href="#">Purchase</a></li>
    <li><a href="#">Production</a></li>
    <li><a href="#">Transport</a></li>
    <li><a href="#">Finance</a></li>
  </ul>
</div>

  </body>
</html>
