<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	type="text/javascript"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	type="text/javascript"></script>


<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Personal Development</h3> 
      </div>
      <div>
      	<img src="/images/personalcover.jpg" width="100%" height="150px" alt="cover" /><hr />
      </div>
      <span>The Personal Development program supports to develop exceptional staff by helping people at all levels of the organization enhance their personal capabilities and work skills.</span><br /><hr />
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Communicating Across Cultures</h3>
        </div><br />
      	<p>Many of us strive to find practical tips and specific skills for being more effective in our communication with people from different cultures. In this course, you'll explore some of the most common cultural differences encountered, identify your own communication style preferences, and gain concrete ideas for your next steps in developing your intercultural competence.</p>
       	<input class="btn btn-primary" value="Enroll" type="button">
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Conflict Fluency</h3>
        </div><br />
      	<p>In this course, we will explore different models and approaches to conflict and the ways in which you can gain conflict fluency. “Conflict fluency” is the ability to interact and engage with conflict in intentional and effective ways. Participants will increase their understanding of how conflict can be constructively engaged and managed and the ways in which positive outcomes can occur as a result of conflict.</p>
       	<input class="btn btn-primary" value="Enroll" type="button">
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Your Strengths at Work</h3>
        </div><br />
      	<p>This course will use the StrengthsQuest/StrengthsFinder assessment to help you explore your strengths and how you apply them to accomplish your goals and be an effective team member. The StrengthsQuest/StrengthsFinder assessment can be an effective tool for helping people identify their talents and apply them on the job. This two-hour course provides an opportunity to complete the assessment and explore the results with others.</p>
       	<input class="btn btn-primary" value="Enroll" type="button">
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Engaging in Change: Managers and Supervisors</h3>
        </div><br />
      	<p>Supervisors and team leaders play a key role in ensuring that change and transition occur smoothly and successfully. This session will provide the tools you need to effectively manage transitions and change within your work group.</p>
       	<input class="btn btn-primary" value="Enroll" type="button">
      </div>
</div>