<div class="row">
      <div class="col-md-9 personal-info">
        <h3>Job Application Form</h3> 
      </div>
</div>
<div class="container">
    
  	<hr>
	<div class="row">
      <!-- left column -->
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Please complete this form to apply for a position</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">&nbsp;name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Position:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">Finance manager</option>
                  <option value="Alaska">Sales Manager</option>
                  <option value="Pacific Time (US &amp; Canada)">HR Manager</option>
                  <option value="Arizona">Marketing Manager</option>
                  <option value="Mountain Time (US &amp; Canada)">Marketing Manager</option>
                 
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Email:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Summary of Skills and 
			  experience</label>
            <div class="col-md-8">
              <textarea id="220670094" name="220670094" cols="75" rows="3" maxlength="4000"></textarea></div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Upload your resume</label>
            <div class="col-md-8">
              &nbsp;<span class="clsUploadControl"><input type="file" class="clsFileInput" name="NCF92522432-0" title="Select a file to upload"></span></div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Submit">
              <span></span>
             <a href="/views/indext.html"> <input type="button" class="btn btn-default" value="Back"></a>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
